<h2>Create a new drone</h2>

<form method="POST" action="/drones/create">
  <div class="input-group input-group-sm mb-3">
    <label
      class="input-group-text"
      id="inputGroup-sizing-sm"
      for="name"
    >Name</label>
    <input
      name="name"
      type="text"
      class="form-control"
      aria-label="Sizing example input"
      aria-describedby="inputGroup-sizing-sm"
    />
  </div>
  <div class="input-group input-group-sm mb-3">
    <label
      class="input-group-text"
      id="inputGroup-sizing-sm"
      for="propellers"
    >propellers</label>
    <input
      name="propellers"
      type="text"
      class="form-control"
      aria-label="Sizing example input"
      aria-describedby="inputGroup-sizing-sm"
    />
  </div>
  <div class="input-group input-group-sm mb-3">
    <label
      class="input-group-text"
      id="inputGroup-sizing-sm"
      for="maxSpeed"
    >Speed</label>
    <input
      name="maxSpeed"
      type="text"
      class="form-control"
      aria-label="Sizing example input"
      aria-describedby="inputGroup-sizing-sm"
    />
  </div>

  <button id="button-edit">add</button>

</form>