<h2>Update the drone</h2>


<form method="POST" action="/drones/{{updateDron._id}}/edit">
    <label for="name">Name</label>
    <input type="text" name="name" value="{{updateDron.name}}" >

    <br>

    <label for="propellers">Propellers</label>
    <input type="text" name="propellers" value="{{updateDron.propellers}}">

    <br>

    <label for="maxSpeed">Speed</label>
    <input type="text" name="maxSpeed" value="{{updateDron.maxSpeed}}">

    <button>Change</button>





</form>